.App {
  text-align: center;
  color: white;
}

.photo {
  width: 50%;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardP{
padding: 5px;

background: radial-gradient(circle, rgb(202, 199, 199) 0%, rgb(194, 148, 157) 100%);
display: inline-block;
border-radius: 5px;
}